body {
    
    font-family: Arial, Helvetica, sans-serif;
 
    background: url('../../imgRemedy/kara/Kara.avif');
    background-position:  center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    height: 100%;
    /*padding-top: 26px;*/
}
/*https://mim.p7s1.io/pis/ld/5c33zChLCVyZ-c1vEwXZAanB-DJ78rnq2V2gRWTHzVV6NywNWMSJCEGmZ4YSENP-WRL0b9lo2zmFQhTMhZJviu4Ta3JCS62wNUULYDINOYCmK_hHKQjsvKb_ZCmlDEDcow1Gm4SCNRU/profile:original?w=1070*/