strong {
    font-size: 20px;
    color: rgb(255, 153, 0);
}
a {
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    top: 10px;
    margin-top: 60px;
}

.profile-container {
    background-color: rgba(0, 0, 0, 0.67);
    border: 2px solid red;
    border-radius: 10px;
    margin: 17px 18px;
    width: 300px;
    padding: 20px;
    text-align: start;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
}

.profile-container:hover {
    box-shadow: 0 0 19px rgba(255, 0, 0, 0.99);
}
@keyframes rotate{
    100%{transform: rotateY(360deg)}
}
.profile-container:active {
    animation-name: rotate;
    animation-duration: 1.5s;
}
.profile-container img ,.ol img{
    border-radius: 9px;
    width: 160px;
    height: auto;
    margin-bottom: 8px;
}
.profile-container h2 {
    color: red ;
    margin-top: 0px;
    margin-bottom: 14px;
    font-size: 1.6em;
}
.info {
    text-align: start;
    margin-top: 0.5px;
    margin-bottom: 0.5px;
    
}
.ol {
    text-align: start;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 19px;
    word-wrap: break-word;/*to wrap the font,ensure it not exceed the container*/
}